#it{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* max-width: 1200px; */
  }
  
  #trend{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
  }